@mixin alertTheme($theme) {
  background-color: map-get($theme, "background");
  border: solid 0.5px map-get($theme, "border");
  border-radius: 5px;
  & > * {
    color: map-get($theme, "text");
  }
  & a {
    text-decoration: none;
    color: map-get($theme, "link");
    &:hover {
      color: map-get($theme, "link-hover");
    }
  }
}

.alert {
  @include alertTheme($theme-default);

  &.primary {
    @include alertTheme($theme-primary);
  }
  &.secondary {
    @include alertTheme($theme-secondary);
  }
  &.success {
    @include alertTheme($theme-success);
  }
  &.info {
    @include alertTheme($theme-info);
  }
  &.warning {
    @include alertTheme($theme-warning);
  }
  &.danger {
    @include alertTheme($theme-danger);
  }
  padding: 10px;
  margin: 5px;
  display: flex;
  justify-content: space-between;

  &.small > * {
    font-size: map-get($font-size, "small");
  }
  &.medium > * {
    font-size: map-get($font-size, "medium");
  }
  &.large > * {
    font-size: map-get($font-size, "large");
  }
  & .closeBtn {
    font-weight: 500;
    font-size: map-get($font-size, "small");
    margin: auto 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}
