@mixin buttonTheme($theme) {
  border: solid 1px map-get($theme, "border");
  background-color: map-get($theme, "background");
  color: map-get($theme, "text");

  &:hover {
    background-color: lighten(map-get($theme, "background"), 20);
  }
  &:active {
    background-color: map-get($theme, "background");
  }
  &.disabled {
    background-color: $gray;
    color: $white;
    cursor: not-allowed;
  }
}

.btn {
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  outline: none;

  @include buttonTheme($theme-default);

  &.dark {
    @include buttonTheme($theme-dark);
  }
  &.primary {
    @include buttonTheme($theme-primary);
  }
  &.secondary {
    @include buttonTheme($theme-secondary);
  }
  &.success {
    @include buttonTheme($theme-success);
  }
  &.info {
    @include buttonTheme($theme-info);
  }
  &.warning {
    @include buttonTheme($theme-warning);
  }
  &.danger {
    @include buttonTheme($theme-danger);
  }
  &.small * {
    font-size: map-get($font-size, "small");
  }
  &.medium * {
    font-size: map-get($font-size, "medium");
  }
  &.large * {
    font-size: map-get($font-size, "large");
  }
}
