.exInputContainer {
  display: grid;
  grid-template-columns: 1fr 20px 3fr;
  &:first-child {
    margin-top: 10px;
  }
  &:last-child {
    margin-bottom: 10px;
  }
  & .exInputHolder {
    display: grid;
    & .exErrorLabel {
      height: 25px;
      font-size: 12px;
      color: $danger;
    }
  }
  & .requiredMark {
    margin: 0px auto;
    color: $danger;
    font-size: 20px;
  }
}

.exInput {
  padding: 5px;
  &.err {
    background-color: $danger;
    color: $white;
  }
}
