@import "./theme";

@mixin navTheme($theme, $border: false, $shadow: false) {
  background-color: map-get($theme, "background");
  color: map-get($theme, "text");

  @if $border {
    border: solid 1px map-get($theme, "border");
  }
  @if $shadow {
    box-shadow: 1px 1px 5px map-get($theme, "border");
  }
}

.nav {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;

  &.default {
    &.bordered {
      @include navTheme($theme: $theme-default, $border: true);
    }
    &.shadow {
      @include navTheme($theme: $theme-default, $shadow: true);
    }
    & .nav-item-sub > ul,
    .nav-item-sub-x > ul {
      background-color: map-get($theme-default, "background");
      color: map-get($theme-default, "text");
    }
    & .nav-icon::before {
      background-color: map-get($theme-default, "text");
      box-shadow: 0px 0.25em 0px 0px map-get($theme-default, "text"),
        0px 0.5em 0px 0px map-get($theme-default, "text");
    }
    & ul.nav-main.vm {
      background-color: map-get($theme-default, "background");
    }
  }

  &.dark {
    &.bordered {
      @include navTheme($theme: $theme-dark, $border: true);
    }
    &.shadow {
      @include navTheme($theme: $theme-dark, $shadow: true);
    }
    & .nav-item-sub > ul,
    .nav-item-sub-x > ul {
      background-color: map-get($theme-dark, "background");
      color: map-get($theme-dark, "text");
    }
    & .nav-icon::before {
      background-color: map-get($theme-dark, "text");
      box-shadow: 0px 0.25em 0px 0px map-get($theme-dark, "text"),
        0px 0.5em 0px 0px map-get($theme-dark, "text");
    }
    & ul.nav-main.vm {
      background-color: map-get($theme-dark, "background");
    }
  }

  &.primary {
    &.bordered {
      @include navTheme($theme: $theme-primary, $border: true);
    }
    &.shadow {
      @include navTheme($theme: $theme-primary, $shadow: true);
    }
    & .nav-item-sub > ul,
    .nav-item-sub-x > ul {
      background-color: map-get($theme-primary, "background");
      color: map-get($theme-primary, "text");
    }
    & .nav-icon::before {
      background-color: map-get($theme-primary, "text");
      box-shadow: 0px 0.25em 0px 0px map-get($theme-primary, "text"),
        0px 0.5em 0px 0px map-get($theme-primary, "text");
    }
    & ul.nav-main.vm {
      background-color: map-get($theme-primary, "background");
    }
  }

  &.secondary {
    &.bordered {
      @include navTheme($theme: $theme-secondary, $border: true);
    }
    &.shadow {
      @include navTheme($theme: $theme-secondary, $shadow: true);
    }
    & .nav-item-sub > ul,
    .nav-item-sub-x > ul {
      background-color: map-get($theme-secondary, "background");
      color: map-get($theme-secondary, "text");
    }
    & .nav-icon::before {
      background-color: map-get($theme-secondary, "text");
      box-shadow: 0px 0.25em 0px 0px map-get($theme-secondary, "text"),
        0px 0.5em 0px 0px map-get($theme-secondary, "text");
    }
    & ul.nav-main.vm {
      background-color: map-get($theme-secondary, "background");
    }
  }

  &.success {
    &.bordered {
      @include navTheme($theme: $theme-success, $border: true);
    }
    &.shadow {
      @include navTheme($theme: $theme-success, $shadow: true);
    }
    & .nav-item-sub > ul,
    .nav-item-sub-x > ul {
      background-color: map-get($theme-success, "background");
      color: map-get($theme-success, "text");
    }
    & .nav-icon::before {
      background-color: map-get($theme-success, "text");
      box-shadow: 0px 0.25em 0px 0px map-get($theme-success, "text"),
        0px 0.5em 0px 0px map-get($theme-success, "text");
    }
    & ul.nav-main.vm {
      background-color: map-get($theme-success, "background");
    }
  }

  &.info {
    &.bordered {
      @include navTheme($theme: $theme-info, $border: true);
    }
    &.shadow {
      @include navTheme($theme: $theme-info, $shadow: true);
    }
    & .nav-item-sub > ul,
    .nav-item-sub-x > ul {
      background-color: map-get($theme-info, "background");
      color: map-get($theme-info, "text");
    }
    & .nav-icon::before {
      background-color: map-get($theme-info, "text");
      box-shadow: 0px 0.25em 0px 0px map-get($theme-info, "text"),
        0px 0.5em 0px 0px map-get($theme-info, "text");
    }
    & ul.nav-main.vm {
      background-color: map-get($theme-info, "background");
    }
  }

  &.warning {
    &.bordered {
      @include navTheme($theme: $theme-warning, $border: true);
    }
    &.shadow {
      @include navTheme($theme: $theme-warning, $shadow: true);
    }
    & .nav-item-sub > ul,
    .nav-item-sub-x > ul {
      background-color: map-get($theme-warning, "background");
      color: map-get($theme-warning, "text");
    }
    & .nav-icon::before {
      background-color: map-get($theme-warning, "text");
      box-shadow: 0px 0.25em 0px 0px map-get($theme-warning, "text"),
        0px 0.5em 0px 0px map-get($theme-warning, "text");
    }
    & ul.nav-main.vm {
      background-color: map-get($theme-warning, "background");
    }
  }

  &.danger {
    &.bordered {
      @include navTheme($theme: $theme-danger, $border: true);
    }
    &.shadow {
      @include navTheme($theme: $theme-danger, $shadow: true);
    }
    & .nav-item-sub > ul,
    .nav-item-sub-x > ul {
      background-color: map-get($theme-danger, "background");
      color: map-get($theme-danger, "text");
    }
    & .nav-icon::before {
      background-color: map-get($theme-danger, "text");
      box-shadow: 0px 0.25em 0px 0px map-get($theme-danger, "text"),
        0px 0.5em 0px 0px map-get($theme-danger, "text");
    }
    & ul.nav-main.vm {
      background-color: map-get($theme-danger, "background");
    }
  }

  & .brand {
    display: flex;
    margin: auto 20px;
    padding: 5px 0px;
    & > img.logo {
      max-height: 30px;
    }
    & .brand-name {
      font-size: 20px;
      margin-left: 5px;
    }
  }

  & ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-width: max-content;
    & > li {
      font-size: 14px;
      padding: 15px;
      text-decoration: none;
      white-space: nowrap;
      cursor: pointer;
    }
  }

  & > .nav-main {
    margin-right: 20px;
    align-items: center;

    & > li {
      float: left;
    }
  }

  .nav-item-sub,
  .nav-item-sub-x {
    & > ul {
      display: none;
    }
    &:hover {
      & > ul {
        display: inline-block;
        position: absolute;
      }
    }
    & .navLink::after {
      content: "";
      float: right;
      margin-top: 8px;
      margin-left: 5px;
      border-top: 5px solid;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
    }
  }
}

.nav-icon {
  display: none;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 15px;
    right: 20px;
    width: 20px;
    height: 0.15em;
  }
}

@media only screen and (min-width: 720px) {
  li:hover & > * {
    color: $blue;
  }
  .nav-item-sub:hover {
    & > ul {
      margin-left: -15px;
      top: 48px;
      border: solid 0.5px $border-shadow;
      border-radius: 5px;
    }
    &:last-child > ul {
      right: 20px;
    }
  }

  .nav-item-sub-x:hover > ul {
    right: 100%;
    margin-top: -34px;
    border: solid 0.5px $border-shadow;
    border-radius: 5px;
  }
}

@media only screen and (max-width: 719px) {
  .nav {
    & > ul.nav-main {
      display: none;
      &.vm {
        display: block;
        position: absolute;
        top: 40px;
        width: 100%;
        & > li {
          float: none;
        }
      }
    }
    & .nav-item-sub,
    .nav-item-sub-x {
      & > ul {
        position: relative;
        right: 0px;
        left: 0px;
        & > li {
          margin-left: 10px;
        }
      }
    }
    & .navLink.vm {
      color: $blue;
    }
  }

  .nav-icon {
    display: block;
  }
}
