@import "./theme";

@mixin navTheme($theme) {
  background-color: map-get($theme, "background");
  color: map-get($theme, "text");
  .bar-icon > path {
    fill: map-get($theme, "text");
  }

  .nav-item-sub > ul,
  .nav-item-sub-x > ul {
    background-color: map-get($theme, "background");
    color: map-get($theme, "text");
  }

  ul.nav-main.vm {
    background-color: map-get($theme, "background");
  }

  & > .bordered {
    border: solid 1px map-get($theme, "border");
  }
  & > .shadow {
    box-shadow: 1px 1px 5px map-get($theme, "border");
  }
}

.nav {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  z-index: 99;
  position: sticky;
  height: 60px;
  top: 0px;
  width: 100%;

  &.default {
    @include navTheme($theme-default);
  }
  &.dark {
    @include navTheme($theme-dark);
  }
  &.primary {
    @include navTheme($theme-primary);
  }
  &.secondary {
    @include navTheme($theme-secondary);
  }
  &.success {
    @include navTheme($theme-success);
  }
  &.info {
    @include navTheme($theme-info);
  }
  &.warning {
    @include navTheme($theme-warning);
  }
  &.danger {
    @include navTheme($theme-danger);
  }

  & .brand {
    display: flex;
    margin: auto 20px;
    padding: 5px 0px;
    & > img.logo {
      max-height: 30px;
    }
    & .brand-name {
      font-size: 20px;
      margin-left: 5px;
    }
  }

  & ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    min-width: max-content;
    align-items: center;
    & > li {
      padding: 15px;

      text-decoration: none;
      cursor: pointer;
    }
  }

  & > .nav-main {
    margin-right: 20px;
    align-items: center;

    & > li {
      float: left;
    }
  }

  .nav-item-sub,
  .nav-item-sub-x {
    & > ul {
      display: none;
    }
    &:hover {
      & > ul {
        display: inline-block;
        position: absolute;
      }
    }
    & .navLink::after {
      content: "";
      float: right;
      margin-top: 8px;
      margin-left: 5px;
      border-top: 5px solid;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
    }
  }
}

.bar-icon {
  display: none;
  position: relative;
  right: 20px;
  margin: auto;
}

.nav-icon {
  display: none;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 15px;
    right: 20px;
    width: 20px;
    height: 0.15em;
  }
}

@media only screen and (min-width: 720px) {
  .nav {
    &.default {
      & li:hover {
        color: map-get($theme-default, "link-hover");
      }
    }
    &.dark {
      & li:hover {
        color: map-get($theme-dark, "link-hover");
      }
    }
    &.primary {
      & li:hover {
        color: map-get($theme-primary, "link-hover");
      }
    }
    &.secondary {
      & li:hover {
        color: map-get($theme-secondary, "link-hover");
      }
    }
    &.success {
      & li:hover {
        color: map-get($theme-success, "link-hover");
      }
    }
    &.info {
      & li:hover {
        color: map-get($theme-info, "link-hover");
      }
    }
    &.warning {
      & li:hover {
        color: map-get($theme-warning, "link-hover");
      }
    }
    &.danger {
      & li:hover {
        color: map-get($theme-danger, "link-hover");
      }
    }
  }

  .nav-item-sub:hover {
    & > ul {
      margin-left: 0px;
      top: 48px;
      border: solid 0.5px $border-shadow;
      border-radius: 5px;
    }
    &:last-child > ul {
      right: 20px;
    }
  }

  .nav-item-sub-x:hover > ul {
    right: 100%;
    margin-top: -34px;
    border: solid 0.5px $border-shadow;
    border-radius: 5px;
  }
}

@media only screen and (max-width: 719px) {
  .nav {
    & > ul.nav-main {
      display: none;
      &.vm {
        display: block;
        position: absolute;
        top: 40px;
        width: 100%;
        & > li {
          float: none;
        }
      }
    }
    & .nav-item-sub,
    .nav-item-sub-x {
      & > ul {
        position: relative;
        right: 0px;
        left: 0px;
        & > li {
          margin-left: 10px;
        }
      }
    }
    &.default {
      & .navLink.vm {
        color: map-get($theme-default, "link-hover");
      }
    }
    &.dark {
      & .navLink.vm {
        color: map-get($theme-dark, "link-hover");
      }
    }
    &.primary {
      & .navLink.vm {
        color: map-get($theme-primary, "link-hover");
      }
    }
    &.secondary {
      & .navLink.vm {
        color: map-get($theme-secondary, "link-hover");
      }
    }
    &.success {
      & .navLink.vm {
        color: map-get($theme-success, "link-hover");
      }
    }
    &.info {
      & .navLink.vm {
        color: map-get($theme-info, "link-hover");
      }
    }
    &.warning {
      & .navLink.vm {
        color: map-get($theme-warning, "link-hover");
      }
    }
    &.danger {
      & .navLink.vm {
        color: map-get($theme-danger, "link-hover");
      }
    }
  }

  .nav-icon,
  .bar-icon {
    display: block;
  }
}
