@import "./theme";

.nav {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  &.shadow {
    box-shadow: 1px 1px 5px $border-shadow;
  }
  &.bordered {
    border-bottom: solid 1px $border-shadow;
  }

  & .brand {
    display: flex;
    margin: auto 20px;
    padding: 5px 0px;
    & > img.logo {
      max-height: 30px;
    }
    & .brand-name {
      font-size: 20px;
      margin-left: 5px;
    }
  }

  & ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-width: max-content;
    & > li {
      font-size: 14px;
      padding: 15px;
      text-decoration: none;
      color: $gray-dark;
      white-space: nowrap;
    }
  }

  & > .nav-main {
    margin-right: 20px;
    align-items: center;
    background-color: $white;
    & > li {
      float: left;
    }
  }

  .nav-item-sub,
  .nav-item-sub-x {
    & > ul {
      display: none;
      background-color: $white;
    }
    &:hover {
      & > ul {
        display: inline-block;
        position: absolute;
      }
    }
    & .navLink::after {
      content: "";
      float: right;
      margin-top: 8px;
      margin-left: 5px;
      border-top: 5px solid;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
    }
  }
}

.nav-icon {
  display: none;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 15px;
    right: 20px;
    width: 20px;
    height: 0.15em;
    background: $gray-dark;
    box-shadow: 0 0.25em 0 0 $gray-dark, 0 0.5em 0 0 $gray-dark;
  }
}

@media only screen and (min-width: 720px) {
  li:hover & > * {
    color: $blue;
  }
  .nav-item-sub:hover {
    & > ul {
      margin-left: -15px;
      top: 48px;
      border: solid 0.5px $border-shadow;
      border-radius: 5px;
    }
    &:last-child > ul {
      right: 20px;
    }
  }

  .nav-item-sub-x:hover > ul {
    right: 100%;
    margin-top: -34px;
    border: solid 0.5px $border-shadow;
    border-radius: 5px;
  }
}

@media only screen and (max-width: 719px) {
  .nav {
    & > ul.nav-main {
      display: none;
      &.vm {
        display: block;
        position: absolute;
        top: 40px;
        width: 100%;
        & > li {
          float: none;
        }
      }
    }
    & .nav-item-sub,
    .nav-item-sub-x {
      & > ul {
        position: relative;
        right: 0px;
        left: 0px;
        & > li {
          margin-left: 10px;
        }
      }
    }
    & .navLink.vm {
      color: $blue;
    }
  }

  .nav-icon {
    display: block;
  }
}
