table {
  width: 100%;
}

td.exData,
th {
  border: 1px solid #aaa;
  padding: 5px;
}

th {
  cursor: pointer;
  &.asc:after {
    content: "";
    float: right;
    margin-top: 8px;
    margin-left: 5px;
    border-top: 5px solid;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
  }
  &.desc:after {
    content: "";
    float: right;
    margin-top: 8px;
    margin-left: 5px;
    border-top: 5px solid;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    transform: rotate(180deg);
  }
}

td > input {
  padding: 5px;
  box-sizing: border-box;
  width: 100%;
  margin: 0px;
}
