// default colors

@use 'sass:color';

$blue: #007bff; //link color
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$gray: #6c757d;
$gray-dark: #333; //text color

$primary: #007bff;
$secondary: #6c757d;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #ce172a;

$light: #f8f9fa;
$dark: #343a40;
$border-shadow: rgba(153, 153, 153, 0.445);
$focus: #007bff73;

$theme-default: (
  "background": $white,
  "text": $gray-dark,
  "link": $blue,
  "link-hover": $indigo,
  "border": lighten($gray-dark, 25),
);

$theme-dark: (
  "background": $dark,
  "text": lighten($gray, 20),
  "link": $blue,
  "link-hover": $teal,
  "border": lighten($dark, 25),
);

$theme-primary: (
  "background": $primary,
  "text": $white,
  "link": lighten($primary, 40),
  "link-hover": lighten($primary, 20),
  "border": lighten($primary, 25),
);

$theme-secondary: (
  "background": $secondary,
  "text": $white,
  "link": lighten($secondary, 40),
  "link-hover": lighten($secondary, 20),
  "border": lighten($secondary, 25),
);

$theme-success: (
  "background": $success,
  "text": $white,
  "link": lighten($success, 40),
  "link-hover": lighten($success, 20),
  "border": lighten($success, 25),
);

$theme-info: (
  "background": $info,
  "text": $white,
  "link": lighten($info, 40),
  "link-hover": lighten($info, 20),
  "border": lighten($info, 25),
);

$theme-warning: (
  "background": $warning,
  "text": $white,
  "link": lighten($warning, 40),
  "link-hover": lighten($warning, 20),
  "border": lighten($warning, 25),
);

$theme-danger: (
  "background": $danger,
  "text": $white,
  "link": lighten($danger, 40),
  "link-hover": lighten($danger, 20),
  "border": lighten($danger, 25),
);

$font-size: (
  "small": 12px,
  "medium": 16px,
  "large": 20px,
);
