// default colors

@use 'sass:color';

$blue: #007bff; //link color
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$gray: #6c757d;
$gray-dark: #333; //text color

$primary: #007bff;

$secondary: #6c757d;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;

$light: #f8f9fa;
$dark: #343a40;
$border-shadow: rgba(153, 153, 153, 0.445);

$theme-default: (
  "background": $white,
  "text": $gray-dark,
  "link": $blue,
  "link-hover": $indigo,
  "border": lighten($gray-dark, 35),
);

$theme-primary: (
  "background": lighten($primary, 40),
  "text": $primary,
  "link": darken($primary, 20),
  "link-hover": lighten($primary, 20),
  "border": lighten($primary, 35),
);

$theme-secondary: (
  "background": lighten($secondary, 40),
  "text": $secondary,
  "link": lighten($secondary, 20),
  "link-hover": lighten($secondary, 35),
);

$theme-success: (
  "background": lighten($success, 40),
  "text": $success,
  "link": lighten($success, 20),
  "link-hover": lighten($success, 35),
);

$theme-info: (
  "background": lighten($info, 40),
  "text": $info,
  "link": lighten($info, 20),
  "link-hover": lighten($info, 35),
);
