@import "./grid";
@import "./navbar";
@import "./card";
@import "./theme";
@import "./alert";
@import "./button";
@import "./carousel";

body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
  width: 100%;
}

.ex-container {
  padding: 0px 20px 10px 20px;
}
